<div class="container">
  <div class="row centralizar-horizontalmente-verticalmente">
    <div class="col-6 centralizar-horizontalmente-verticalmente">
      <img class="card-img" [src]="produto.imageUrl" [alt]="produto.title">
    </div>
    <div class="col-md-6">
      <h2>{{produto.title}}</h2>
      <p><app-componente-star-rating [rating]="produto.score"></app-componente-star-rating></p>
      <p>{{produto.description}}</p>
      <div class="d-flex">
        {{manipularDadosObjetosService.converterParaBRL(produto.price)}}
      </div>
      <app-componente-barra-redes-sociais [linkProduto]="produto.link"></app-componente-barra-redes-sociais>
    </div>
  </div>
</div>
